<form>
    <div class="container">
      <h1>Update Product Details</h1>
      <hr>
      
      <label for="Product_Name"><b>Product Name</b></label><br>
      <input type="text" placeholder="Enter Product Name" name="Product_Name" required  [(ngModel)]= "product.name "> <br>
      
      
      <label for="Price"><b>Price</b></label><br>
      <input type="text" placeholder="Enter Product Price" name="price" required [(ngModel)]= "product.price"><br>
      
      <div class="form-group">
          <label for="description"><b>Description</b></label><br>
          <input type= text required ngModel  placeholder="Enter Product Description" name="description" [(ngModel)]= "product.description" #description="ngModel" >
          <div class="alert alert-danger" *ngIf="!description.valid">Description is required</div>
        </div>
      
      <div class="form-group">
      <label for="Quantity"><b>Quantity</b></label><br>
      <input type= text required ngModel placeholder="Enter Product Quantity" name="quantity" [(ngModel)]= "product.quantity" #quantity="ngModel" >
      <div class="alert alert-danger" *ngIf="!quantity.valid">Quantity is required</div>
    </div>

    

      
      <label for="unit"><b>Unit</b></label><br><br>
      <select class="form-control" id="unit" required>
        <option *ngFor="let unit of unit" [value]="unit">{{unit}}</option>
      </select><br>
    

       
        <button type="button" [routerLink]="['../Admin-home']" class="cancelbtn">Cancel</button>
        <button type="button" class="signupbtn" (click)="addproduct()">Update</button>   
    
    </div>
  </form>