<div class="topnav">
  <div style="display: inline-block; text-align: center; width: 90%;">
  <h1 style="color:whitesmoke">Supermarket Management System</h1>
</div>
    <div class="wrap  top-right">
        <button class=" logout" value="Logout" [routerLink]="['']"> Logout </button>
      
     </div>
<div style="background-color:#dbd9d9;padding: 6px;"> 
     
    <div class="wrap alignButton">
      <button class="button" [routerLink]="['../billing']" >Billing</button>
  </div>
    
  </div>


  <div class="top-left">Welcome {{message.username}}..!!</div>